---
const images = [
  "/desktop/image-gallery-milkbottles.jpg",
  "/desktop/image-gallery-orange.jpg",
  "/desktop/image-gallery-cone.jpg",
  "/desktop/image-gallery-sugarcubes.jpg",
];
---

<section class="grid grid-cols-2 lg:grid-cols-4">
  {images.map((image) => <img src={image} />)}
</section>
