---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";

import CustomSection from "../components/sections/CustomSection.astro";

import ServicesSection from "../components/sections/ServicesSection.astro";
import TestimonialsSection from "../components/sections/TestimonialsSection.astro";
const sections = [
  {
    title: "Transform your brand",
    content:
      "We are a full-service creative agency specializinq in helping brands grow fast. Engage Vour clients through compelling visuals that do most of marketing for you.",
    image: "/desktop/image-transform.jpg",
  },
  {
    title: "Stand out to the right audience",
    content:
      "Using a collaborative formula ot designers, researchers, photographers, videographers, and copywriters, we'll build and extend your brand in digital places.",
    image: "/desktop/image-stand-out.jpg",
  },
];
---

<Layout title="Sunnyside">
  <main class="flex flex-col">
    <Navbar />
    <section class="relative w-full h-screen">
      <div class="h-full w-full absolute top-0 bottom-0">
        <img
          class="h-full object-cover object-center w-full"
          src="/desktop/image-header.jpg"
          alt=""
        />
      </div>

      <div class="relative pt-40">
        <h1
          class="font-serif font-extrabold text-center px-3 text-4xl lg:px-0 lg:text-3xl text-white"
        >
          WE ARE CREATIVES
        </h1>
      </div>
    </section>

    {
      sections.map((section, index) => (
        <CustomSection
          title={section.title}
          image={section.image}
          content={section.content}
          reverse={index % 2 !== 0}
        />
      ))
    }

    <ServicesSection />
    <TestimonialsSection />
  </main>
</Layout>

<style></style>
