---
export interface Props {
  title: string;
  content: string;
  image: string;
}

const { title, content, image } = Astro.props;
---

<div class="relative w-full h-full z-50 flex flex-col justify-end items-end">
  <div class="w-full h-fit z-10">
    <img
      class="h-[500px] lg:h-full w-full object-cover object-center"
      src={image}
      alt=""
    />
  </div>
  <div
    class="text-center px-1 lg:px-20 z-30 mt-auto text-black absolute mx-auto pb-10"
  >
    <h1 class="text-xl font-serif font-extrabold mb-4">{title}</h1>
    <p class="text-xs px-6 lg:px-24 font-bold text-black/50">
      {content}
    </p>
  </div>
</div>
