---
---

<header
  class="fixed px-5 py-4 top-0 left-0 w-full flex justify-between z-50 backdrop-blur-lg rounded-sm"
>
  <a class="text-xl text-white font-bold" href="">sunnyside</a>
  <nav class="hidden lg:block">
    <ul class="flex items-center gap-5 [&>li>a]:text-sm">
      <li class="text-white font-medium"><a href="#">About</a></li>
      <li class="text-white font-medium"><a href="#">Services</a></li>
      <li class="text-white font-medium"><a href="#">Projects</a></li>
      <li
        class="px-6 py-2 rounded-3xl bg-white/20 text-white backdrop-blur-sm transition-colors duration-500 cursor-pointer hover:bg-white hover:text-black"
      >
        <a class="font-serif font-bold" href="#">CONTACT</a>
      </li>
    </ul>
  </nav>
</header>
